#footer {
  position:absolute;
  bottom: 0;
  width:100%;
  padding:24px 0;
  background:#000000;
  color:#ffffff;
  .footer-menu {
    text-align:right;
    a {
      display:inline-block;
      margin: 0 4px;
      color: #fff;
    }
  }
}
